.circle {
  border-radius: 50%;
}
.li-link {
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.8));
}
.li-link:hover {
  transform: translate(0px, -10px);
}

#Home {
  position: relative;
  margin-bottom: none;
}



@media only screen and (min-width: 992px) {
  #Home {
    margin-bottom: 3rem;
  }

  #enquiryBox {
    display: flex;
    align-items: center;
  }
}